<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FullyStocked</title>
    <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link href="/public/stylesheets/style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1 id="forecast" class="row justify-content-center p-3 mb-2 bg-primary text-white">
          <a>FullyStocked</a>
        </h1>

    <nav class="container-1">
        <ul class="navbar">
        {{#if loggedIn}}
          <li>
            <a href="/">home</a>
          </li>
          <li>
            <a href="/edit">edit</a>
          </li>
          <li>
            <a href="/remove">remove</a>
          </li>
          <li>
            <button id="logout" class="btn-no-style">logout</button>
          </li>
        {{else}}
        <li>
          <a href="/login">login</a>
        </li>
        {{/if}}
        </ul>
      </nav>
      </header>
      <main>
        {{{body}}}
      </main>
    </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

  </body>

</html>