<!--Put request-->


<form class="item-form">
  <div>
    <label for="item_name">item:</label>
    <input type="text" id="item_name" />
  </div>
  <div>
    <label for="price">price:</label>
    <input type="text" id="price" />
  </div>
  <div>
    <label for="stock">stock:</label>
    <input type="text" id="stock" />
  </div>
  <div>
    <label for="type_id">type ID:</label>
    <input type="text" id="type_id" />
  </div>
  <div>
    <button type="submit">add</button>
  </div>
</form>

<script src="javascript/edit.js"></script>