<!--Put request-->


<div class="container">
    

 

    <div class="row">
      <div class="card" style="width: 70rem">
        <div class="card-body">
          <h5 class="card-title">INFO</h5>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Name:</span>
          <input type="text" class="form-control" placeholder="Ex, Shirts" aria-label="Ex, Shirts" aria-describedby="basic-addon1" id="name">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Price:</span>
          <input type="text" class="form-control" placeholder="Ex, Price" aria-label="Ex, Price" aria-describedby="basic-addon1" id="price">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">ID:</span>
          <input type="text" class="form-control" placeholder="Ex, 1" aria-label="Ex, 1" aria-describedby="basic-addon1" id="id">
        </div>
        </div>
      </div>
    </div>

    
        <div class="row">
          <div class="card" style="width: 70rem">
            <div class="card-body">
              <h5 class="card-title">TYPE</h5>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Name:</span>
          <input type="text" class="form-control" placeholder="Ex, Shirts" aria-label="Ex, Shirts" aria-describedby="basic-addon1" id="type">
        </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="card" style="width: 70rem">
            <div class="card-body">
              <h5 class="card-title">TAG</h5>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Name:</span>
          <input type="text" class="form-control" placeholder="Ex, Shirts" aria-label="Ex, Shirts" aria-describedby="basic-addon1" id="tag">
        </div>

        <div class="row">
          <div class="card" style="width: 70rem">
            <div class="card-body">
              <h5 class="card-title">Stock</h5>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Amount</span>
          <input type="text" class="form-control" placeholder="Ex, Shirts" aria-label="Ex, Shirts" aria-describedby="basic-addon1" id="stock">
        </div>
    <div class="row">
      <div class="card" style="width: 70rem">
        <div class="card-body">
          
          <button  class= "text-white"><a href="/home">CANCEL</a></button>
          <button  class= "text-white"><a href="/home">SAVE</a></button>
          
        <!-- <button type="button" class="btn btn-danger">CANCEL</button>
        <button type="button" class="btn btn-success">SAVE</button> -->
      </div>
      </div>
              
            </div>
          </div>
        </div>