<h3 class="alert alert-dark">Welcome! We are Fully Stocked!!</h3>
<ul>
    <li>We are here to make your life easier!</li>
    <li>Please Refer to your Table of Contents (TOC) to review your inventory!</li>
    <li>Each item has a unqiue ID when you add them and theyll be important</li>
    <li>We make the interface easy so you can spend more time making money!!!</li>
</ul>

