<!--Delete-->
<form class="delete-form">
  <div>
    <label for="id">item ID:</label>
    <input type="text" id="id" />
  </div>
  <div>
    <button type="submit">destroy</button>
  </div>
</form>

<script src="javascript/delete.js"></script>